input[type="radio"] {
  display: none;
}

.btn-light :active {
  background-color: #d65cad;
}

.full-wheight {
  width: 100%;
  height: 100%;
}

.custom-btns .btn-light:not(:disabled):not(.disabled).active,
.custom-btns .btn-light:not(:disabled):not(.disabled):active,
.custom-btns .show > .btn-primary.dropdown-toggle {
  color: #000;
  background-color: #1aff1a;
  border-color: #1aff1a;
}

.custom-btns .btn-light {
  color: #000;
  background-color: #e0e0eb;
  border-color: #e0e0eb;
}

.custom-btns .btn-light.focus,
.btn-light:focus {
  box-shadow: 0 0 0 0.2rem #1aff1a;
}

.thumbnail {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-size: cover;
  align-items: center;
}
