<div class="container">
  <div *ngIf="week$ | async as week; else loadingOrError">
    <h3 class="text-center mt-2">Tips For Round {{ week.weekNumber }}</h3>
    <h6 class="text-center">
      Deadline is at
      {{ week.deadLineInstant | date: "dd-MM-yyyy HH:mm:ss" }}
    </h6>

    <div *ngIf="!week.beforeDeadLine; else before" class="text-center">
      <div class="alert alert-danger">
        Its past the deadline. No more picks allowed.
      </div>
      <button
        class="btn btn-danger mb-1"
        [routerLink]="['/picks', week.weekNumber]"
      >
        Weekly Picks
      </button>
    </div>
    <ng-template #before>
      <form [formGroup]="pickForm" (ngSubmit)="onSubmit()">
        <div
          formArrayName="teamsSelected"
          *ngFor="let pick of controls; let i = index"
        >
          <div formGroupName="{{ i }}">
            <div class="card my-2 custom-btns">
              <div class="row btn-group btn-group-toggle" ngbRadioGroup>
                <div class="col-5 text-center">
                  <label ngbButtonLabel class="btn full-wheight btn-light">
                    <input
                      ngbButton
                      type="radio"
                      formControlName="team"
                      value="{{ pick.get('homeTeam').value }}"
                    />
                    {{ pick.get("homeTeam").value }}
                  </label>
                </div>
                <div class="col-2 text-center">
                  <div
                    [style.backgroundImage]="
                      'url(../../../../assets/images/vs.png)'
                    "
                    class="thumbnail mx-auto"
                  ></div>
                </div>
                <div class="col-5 text-center">
                  <label ngbButtonLabel class="btn full-wheight btn-light">
                    <input
                      ngbButton
                      type="radio"
                      formControlName="team"
                      value="{{ pick.get('awayTeam').value }}"
                    />
                    {{ pick.get("awayTeam").value }}</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <loading-error [loadingMessage]="loadingMessage()"></loading-error>

        <button
          class="btn btn-primary btn-block my-3"
          [disabled]="pickForm.invalid"
        >
          Submit
        </button>
      </form>
      <div class="text-center">
        <small
          >If you get a perfect score in a week with 8 games you will earn an
          extra point</small
        >
      </div>
    </ng-template>
  </div>
  <ng-template #loadingOrError>
    <stream-error></stream-error>
  </ng-template>
</div>
