<div class="shadow p-3 mb-5 bg-white rounded my-2">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <th>Name</th>
        <ng-container *ngFor="let match of week.sortedMatchesToBePlayed">
          <th>
            <div
              class="text-center"
              [ngClass]="{
                'color-change-title': colorTitleIfHomeCorrect(match)
              }"
            >
              {{ match.homeTeam }}
            </div>
            <div class="text-center small font-weight-bold">vs</div>
            <div
              class="text-center"
              [ngClass]="{
                'color-change-title': colorTitleIfAwayCorrect(match)
              }"
            >
              {{ match.awayTeam }}
            </div>
          </th>
        </ng-container>
        <th>Score</th>
      </thead>
      <tbody>
        <tr *ngFor="let user of paginatedUsers">
          <td class="font-italic">{{ user.name }}</td>
          <ng-container *ngFor="let game of user.teamsSelected">
            <td
              class="text-center"
              [ngClass]="{
                'color-change': colorIfCorrect(game)
              }"
            >
              {{ game.team }}
            </td>
          </ng-container>
          <td>{{ user.weeksScore }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-container *ngIf="week.beforeDeadLine; else paginate">
    <div class="text-center my-1">
      <small class="text-success">You can change picks up until deadline</small>

      <br />
      <small class="text-success"
        >You will be able to see other members' picks after deadline.</small
      >
      <br />
      <a type="button" class="btn btn-info btn-sm my-1" routerLink="/make-pick"
        >Change Picks</a
      >
    </div>
  </ng-container>
  <ng-template #paginate>
    <ng-container
      *ngIf="paginationService.collectionSize | async as collectionSize"
    >
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination
          class="d-flex justify-content-center"
          [collectionSize]="collectionSize"
          [(page)]="paginationService.page"
          [maxSize]="4"
          [rotate]="true"
          [ellipses]="false"
          [pageSize]="paginationService.pageSize"
          size="sm"
        >
        </ngb-pagination>

        <select
          class="form-control form-control-sm"
          style="width: auto;"
          [(ngModel)]="paginationService.pageSize"
        >
          <option [ngValue]="2">2 per page</option>
          <option [ngValue]="5">5 per page</option>
          <ng-container *ngIf="collectionSize > 5">
            <option [ngValue]="10">10 per page</option>
          </ng-container>
          <ng-container *ngIf="collectionSize > 10">
            <option [ngValue]="20">20 per page</option>
          </ng-container>
        </select>
      </div>
    </ng-container>
  </ng-template>
</div>
