<div class="container">
  <div class="row" *ngIf="stream$ | async as stream; else loadingOrError">
    <div class="col-sm-12 col-md-7 mx-auto">
      <div class="card my-5 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h5 class="card-title text-center">
            Change Groups
          </h5>
          <form class="form" [formGroup]="changeForm" (ngSubmit)="onSubmit()">
            <div
              formArrayName="groups"
              *ngFor="let group of groupFormArray()?.controls; let i = index"
            >
              <div formGroupName="{{ i }}">
                <div class="row">
                  <div class="col-10">
                    <div class="form-group">
                      <label for="group" [attr.for]="'group' + i"
                        >Join existing Group</label
                      >

                      <select
                        [id]="'group' + i"
                        formControlName="id"
                        class="form-control custom-select"
                        [ngClass]="{
                          'is-invalid':
                            group.get('id').errors?.required &&
                            group.get('id').touched
                        }"
                      >
                        <option selected [ngValue]="null">Choose...</option>
                        <option
                          *ngFor="let load of stream.groups"
                          [value]="load.id"
                          >{{ load.name }}</option
                        >
                      </select>
                      <span
                        *ngIf="
                          group.get('id').errors?.required &&
                          group.get('id').touched
                        "
                        class="text-danger"
                      >
                        Add atleast 1 group and a maximum of 3
                      </span>
                    </div>
                  </div>
                  <span
                    class="col-2 input-group-btn"
                    *ngIf="groupFormArray().length > 1"
                  >
                    <a
                      class="mt-4"
                      type="button"
                      (click)="removeGroupButtonClick(i)"
                    >
                      <i class="far fa-times-circle"></i>
                    </a>
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <button
                *ngIf="groupFormArray().length < 3"
                type="button"
                class="btn btn-primary"
                (click)="addGroupButtonClick()"
                [disabled]="changeForm.get('groups').invalid"
              >
                Join Another Group
              </button>
            </div>

            <ng-container *ngIf="stream.loading">
              <div class="alert alert-info text-center text-dark">
                Processing......
              </div>
            </ng-container>

            <div class="form-group">
              <button
                class="btn btn-primary btn-block"
                [disabled]="changeForm.invalid"
              >
                Make Changes
              </button>
            </div>
            <ng-container *ngIf="stream.error">
              <ngb-alert
                class="text-center"
                type="danger"
                (close)="closeMessages()"
                >{{ stream.error }}</ngb-alert
              >
            </ng-container>
            <div class="text-center">
              <small>Pick all the groups you would like to be a part of</small>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loadingOrError>
    <ng-container *ngIf="getStreamError$() | async as error; else loading">
      <ngb-alert class="text-center" type="danger">{{ error }}</ngb-alert>
    </ng-container>
    <ng-template #loading>
      <div class="d-flex justify-content-center my-5">
        <div class="spinner-border text-info" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </ng-template>
  </ng-template>
</div>
