<div class="container">
  <div *ngIf="stream$ | async as stream; else loadingOrError">
    <ng-container *ngIf="stream.err; else noError">
      <app-error
        [childError]="stream.err"
        [childWeekNumber]="weekNumber"
        (chilNo)="errorLoadWeekBefore($event)"
      ></app-error>
    </ng-container>
    <ng-template #noError>
      <app-filter></app-filter>

      <table-head
        [weekNumber]="weekNumber"
        [currentWeekNumber]="stream.currentWeekNumber"
        [title]="stream.title"
        (weekNumberOutPut)="loadWeek($event)"
      ></table-head>

      <pick-table
        [week]="stream.week"
        [paginatedUsers]="stream.paginatedUsers"
      ></pick-table>
    </ng-template>
  </div>

  <ng-template #loadingOrError>
    <ng-container
      *ngIf="
        loadingErrorService.getStreamError() | async as error;
        else loading
      "
    >
      <app-error
        [childError]="error"
        [childWeekNumber]="weekNumber"
        (chilNo)="errorLoadWeekBefore($event)"
      ></app-error>
    </ng-container>

    <ng-template #loading>
      <spinner></spinner>
    </ng-template>
  </ng-template>
</div>
