.color-change {
  background-color: #66cc66;
}

.color-change-title {
  background-color: white;
  color: #2eb82e;
}
.group-picked {
  background-color: #809fff;
}

.spinner-border {
  width: 4rem;
  height: 4rem;
}

th:first-child,
td:first-child {
  position: sticky;
  left: 0px;
  background-color: #e6e6e6;
}
