<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-7 mx-auto">
      <div class="card my-5 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body text-center">
          <p class="h4 mb-4">
            Register
          </p>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                formControlName="name"
                placeholder="Username"
              />
              <div
                class="mt-1"
                *ngIf="
                  registerForm.get('name').touched &&
                  registerForm.get('name').errors
                "
              >
                <span
                  *ngIf="registerForm.get('name').hasError('required')"
                  class="text-danger"
                  >Name is required</span
                >
                <span
                  *ngIf="registerForm.get('name').hasError('minlength')"
                  class="text-danger"
                  >Minimum 5 characters required</span
                >
                <span
                  *ngIf="registerForm.get('name').hasError('maxlength')"
                  class="text-danger"
                  >Maximum of 20 characters allowed</span
                >
              </div>
            </div>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                formControlName="email"
                placeholder="Enter a valid email"
              />
              <div
                class="mt-1"
                *ngIf="
                  registerForm.get('email').touched &&
                  registerForm.get('email').errors
                "
              >
                <span
                  *ngIf="registerForm.get('email').hasError('required')"
                  class="text-danger"
                  >Email is required</span
                >
                <span
                  *ngIf="registerForm.get('email').hasError('email')"
                  class="text-danger"
                  >Enter a valid email</span
                >
              </div>
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                formControlName="password"
                placeholder="Password"
              />
              <div
                class="mt-1"
                *ngIf="
                  registerForm.get('password').touched &&
                  registerForm.get('password').errors
                "
              >
                <span
                  *ngIf="registerForm.get('password').hasError('required')"
                  class="text-danger"
                  >Password is required</span
                >
                <span
                  *ngIf="registerForm.get('password').hasError('minlength')"
                  class="text-danger"
                  >Must be minimum 5 characters</span
                >
                <span
                  *ngIf="registerForm.get('password').hasError('maxlength')"
                  class="text-danger"
                  >Must be maximum 20 characters</span
                >
              </div>
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                formControlName="cpassword"
                placeholder="Confirm Password"
              />
              <div
                class="mt-1"
                *ngIf="
                  registerForm.get('cpassword').touched &&
                  registerForm.get('cpassword').errors
                "
              >
                <span
                  *ngIf="registerForm.get('cpassword').hasError('required')"
                  class="text-danger"
                  >Confirm Password is required</span
                >
                <span
                  *ngIf="registerForm.get('cpassword').hasError('mustMatch')"
                  class="text-danger"
                  >Confirm Password must match</span
                >
              </div>
            </div>
            <div
              formArrayName="groups"
              *ngFor="let group of groupFormArray()?.controls; let i = index"
            >
              <div formGroupName="{{ i }}">
                <div class="row">
                  <div class="col-10">
                    <div class="form-group">
                      <select
                        class="custom-select"
                        formControlName="id"
                        [id]="'group' + i"
                      >
                        <option selected [value]="null">Choose...</option>
                        <option
                          *ngFor="let payload of groups$ | async"
                          [value]="payload.id"
                          >{{ payload.name }}</option
                        >
                      </select>
                    </div>
                  </div>

                  <span
                    class="col-2 input-group-btn"
                    *ngIf="groupFormArray().length > 1"
                  >
                    <a type="button mt-4" (click)="removeGroupButtonClick(i)">
                      <i class="far fa-times-circle"></i>
                    </a>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button
                *ngIf="groupFormArray().length < 3"
                type="button"
                class="btn btn-primary"
                (click)="addGroupButtonClick()"
              >
                Add Group
              </button>
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                formControlName="newGroup"
                placeholder="Create new group"
              />
              <div
                class="mt-1"
                *ngIf="
                  registerForm.get('newGroup').touched &&
                  registerForm.get('newGroup').errors
                "
              >
                <span
                  *ngIf="registerForm.get('newGroup').hasError('minlength')"
                  class="text-danger"
                  >Group must have minimum 3 characters</span
                >
                <span
                  *ngIf="registerForm.get('newGroup').hasError('maxlength')"
                  class="text-danger"
                  >Group can have maximum 15 characters</span
                >
              </div>
            </div>
            <button
              class="btn btn-info btn-block my-4"
              [disabled]="registerForm.invalid"
            >
              Register
            </button>
            <ng-container *ngIf="errorMessage">
              <ngb-alert [type]="'danger'" (close)="closeAlert()">{{
                errorMessage
              }}</ngb-alert>
            </ng-container>

            <p>
              Already a member?
              <a routerLink="/login">Log in</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
