<ng-container *ngIf="stream$ | async as stream">
  <div *ngIf="stream.loading" class="alert alert-info text-center text-dark">
    {{ loadingMessage }}
  </div>
  <ng-container *ngIf="stream.error">
    <ngb-alert [type]="'danger'" (close)="loadingErrorService.cancelError()"
      >{{ stream.error }}
      <ng-container *ngIf="errorMessage">{{
        errorMessage
      }}</ng-container></ngb-alert
    >
  </ng-container>

  <ng-container *ngIf="stream.success">
    <ngb-alert
      class="text-center"
      type="success"
      (close)="loadingErrorService.cancelSuccess()"
      >{{ stream.success }}
    </ngb-alert>
  </ng-container>
</ng-container>
