<div *ngIf="combinedStream$ | async as stream">
  <input
    (keyup)="updateFilter($event)"
    type="text"
    class="form-control my-2"
    placeholder="Search User By Name"
  />

  <ng-container *ngIf="stream.userGroups.length > 1">
    <ul class="list-group list-group-horizontal mt-1 mb-2">
      <li
        type="button"
        class="list-group-item list-group-item-action text-center mx-1"
        [ngClass]="{ 'color-change': stream.pickedGroup === 'AllGroups' }"
        (click)="filterGroup('AllGroups')"
      >
        All Groups
      </li>
      <ng-container *ngFor="let group of stream.userGroups; let i = index">
        <li
          type="button"
          class="list-group-item list-group-item-action text-center mx-1"
          (click)="filterGroup(group.name)"
          [ngClass]="{
            'color-change': group.name === stream.pickedGroup
          }"
        >
          {{ group.name }}
        </li>
      </ng-container>
    </ul>
  </ng-container>
</div>
